.form-section {
  margin-bottom: 1rem;
  display: flex;
}

.form {
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input {
  width: 100%;
  padding: 0.75rem 0.5rem;
  font-size: inherit;
  border: none;
  background-color: #f8f9fa;
}

.form__button {
  padding: 0.75rem;
  font-size: inherit;
  background-color: #ddd;
  border: none;
}

.form__button:hover {
  background-color: #ccc;
}

.form-switch {
  margin-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
